@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* nav related styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 230px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.nav-title {
  align-items: center;
  display: flex;
  gap: 20px;
}
img {
  width: 80px;
}
.pixel {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff42a5;
}
.quest {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}
.nav-elements li {
  list-style: none;
}
.nav-elements a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}
.nav-elements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 22px;
}
