@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
/* nav related styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 230px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.nav-title {
  align-items: center;
  display: flex;
  gap: 20px;
}
img {
  width: 80px;
}
.pixel {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff42a5;
}
.quest {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}
.nav-elements li {
  list-style: none;
}
.nav-elements a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}
.nav-elements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 20px;
}
/* styles for banner section */
.banner-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.banner-text-container {
  /* background-repeat: no-repeat; */
  background-size: contain;
  flex: 1;
  background-image: url("../images/Group-14.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
}
.banner-texts {
  padding-left: 150px;
  padding-top: 70px;
}
.banner-text {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 5.2rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  list-style: none;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 24px;
  line-height: 2rem;
  padding-left: 10px;
}
.banner-btn {
  border-radius: 48px;
  background: #ff42a5;
  padding: 20px 35px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
}
#color-change {
  background: #4ec5f7;
  margin-left: 20px;
}
.banner-img-container img {
  width: 80%;
}
/* funny video section */
.funny-videos-container {
  padding: 100px 200px;
}
.online-games {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.video-text {
  margin-top: 20px;
  color: #534c64;
  font-weight: 500;
  text-align: center;
}
.videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.video-title {
  max-width: 300px;
  margin-top: 20px;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 150%;
}
.video-images {
  position: relative;
  overflow: hidden;
}
.video-images img {
  display: block;
  width: 100%;
}
.play-button {
  position: absolute;
  background: rgba(14, 13, 13, 0.5);
  justify-content: center;
  inset: 0;
  padding: 43%;
  align-items: center;
  border-radius: 12px;
  border: 3px solid #ff42a5;
}
.video-images > img,
.video-images > .play-button {
  transition: 200ms ease-in-out;
}
.video-images > .play-button {
  opacity: 0;
}

.video-images:hover > .play-button {
  opacity: 1;
}
/* play instantly section */
.play-instantly-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex: 1;
  margin: 20px 150px;
  align-items: center;
  justify-content: center;
}
.play-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 125%;
}
.play-instantly {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-description {
  color: #534c64;
  text-align: right;
  font-size: 1.1rem;
  line-height: 150%;
  margin-top: 20px;
  max-width: 300px;
}
.play-image-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  margin-bottom: 150px;
}
.big-image {
  width: 100%;
  padding-left: 30px;
}
.small-image {
  width: 300px;
  position: absolute;
  top: 400px;
  left: -60px;
}
/* button section */
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons {
  display: flex;
  align-items: center;
}
.button-img {
  width: 50px;
}
.button-title {
  color: #0b0223;
  font-size: 1.2rem;
  font-weight: 600;
}

/* styles for mobile devices */
@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 60px 0px;
  }
  .nav-elements {
    flex-direction: column;
    padding: 0px;
  }
  .nav-title {
    margin-bottom: 30px;
  }
  .follow-us {
    margin-top: 30px;
  }
  img {
    width: 60px;
  }
  .pixel {
    font-size: 2rem;
    font-weight: 700;
    color: #ff42a5;
  }
  .quest {
    font-size: 2rem;
    font-weight: 700;
    color: #0b0223;
  }
  .follow-us {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 10px 15px;
  }
  /* for banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .banner-text-container {
    margin-left: 30px;
    width: 100%;
  }
  .banner-texts {
    padding: 0px;
  }
  .banner-text {
    font-size: 2rem;
    margin: 10px;
  }
  .banner-title {
    font-size: 4rem;
    margin: 10px;
  }
  .banner-description {
    font-size: 1rem;
    margin: 5px;
    line-height: 1.5rem;
  }
  .banner-btn {
    font-size: 1rem;
    margin-top: 5px;
    padding: 10px 20px;
    margin-left: 10px;
  }
  /* funny video section */
  .funny-videos-container {
    padding: 50px 50px;
  }
  .online-games {
    font-size: 2rem;
  }
  .funny-videos {
    font-size: 2rem;
  }
  .videos-container {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0px 30px;
  }

  .video-title {
    font-size: 1rem;
  }
  /* play instantly section */
  .play-instantly-container {
    flex-direction: column;
    flex: 1;
    margin: 20px 30px;
    gap: 50px;
  }
  .play-description {
    padding-bottom: 0px;
  }
  .play-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
  }
  .play-description {
    font-size: 1rem;
    text-align: center;
  }
  .big-image {
    width: 90%;
    padding-left: 30px;
  }
  .small-image {
    width: 150px;
    top: 200px;
    left: -20px;
  }
  .play-image-container {
    margin-bottom: 50px;
  }
}
/* Styles for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  .nav-container {
    flex-direction: column;
    padding: 25px 100px;
  }
  /* for banner section */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .banner-text-container {
    margin-left: 30px;
    width: 100%;
  }
  .banner-texts {
    padding: 100px;
  }
  .banner-btn {
    font-size: 1rem;
    margin-top: 10px;
    padding: 15px 20px;
  }
  /* funny video section */
  .funny-videos-container {
    padding: 50px 50px;
  }
  .online-games {
    font-size: 2rem;
  }
  .funny-videos {
    font-size: 2rem;
  }
  .videos-container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 0px 50px;
    gap: 30px;
  }
  .video-title {
    font-size: 1rem;
  }
  /* play instantly section */
  .play-instantly-container {
    flex-direction: column;
    flex: 1;
    margin: 20px 70px;
    gap: 50px;
  }
  .play-description {
    padding-bottom: 0px;
  }
  .play-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 125%;
    text-align: center;
  }
  .play-description {
    font-size: 1.1rem;
    text-align: center;
  }
  .big-image {
    width: 80%;
    padding-left: 50px;
  }
  .small-image {
    width: 210px;
    top: 300px;
    left: -50px;
  }
}
