@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* nav related styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 230px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.nav-title {
  align-items: center;
  display: flex;
  gap: 20px;
}
img {
  width: 80px;
}
.pixel {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ff42a5;
}
.quest {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0b0223;
}
.nav-elements li {
  list-style: none;
}
.nav-elements a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.12rem;
  font-weight: 500;
}
.nav-elements {
  display: flex;
  align-items: center;
  gap: 30px;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 15px 22px;
}
/* styles for banner section */
.banner-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.banner-text-container {
  /* background-repeat: no-repeat; */
  background-size: contain;
  flex: 1;
  background-image: url("../images/Group-14.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
}
.banner-texts {
  padding-left: 150px;
  padding-top: 70px;
}
.banner-text {
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 5.2rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description {
  list-style: none;
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-top: 24px;
  line-height: 2rem;
}
.banner-btn {
  border-radius: 48px;
  background: #ff42a5;
  padding: 20px 35px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
}
#color-change {
  background: #4ec5f7;
}
.banner-img-container img {
  width: 80%;
}
